.nft-card {
  /* background-color: rgb(18, 18, 18);; */
  /* border: 1px solid #ddd; */
  border: 1px solid #0fd9b6;
    box-shadow: 0 0 15px 0 rgb(15 217 182 / 36%);
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(146, 145, 145, 0.8); */
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  color: white;
}

.nft-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nft-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.nft-card h3 {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform:capitalize;
}

.nft-card p {
  margin: 0 1rem 1rem;
  font-size: 1rem;
}